# Raw and exploratory data
scraping/data/raw
scraping/data/processed/eligibility_reqs_all.csv
scraping/data/processed/unique_idlbs_unfiltered.csv

# Pycache
__pycache__/

# Inspection files
inspection.ipynb