<b>Name</b>: {{ name }}

<b>IDLB</b>: {{ idlb }}

<b>Addressee</b>: {{ addressee }}

<b>Legal basis</b>: {{ legal_basis }}

<b>Description</b>: 

{{ description }}

<b>Requirements text</b>:

{{ requirements }}

<b>Requirements decomposition</b>: