@prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> .
@prefix ff: <https://foerderfunke.org/default#> .
@prefix sh: <http://www.w3.org/ns/shacl#> .

# METADATA

ff:{{ idlb }} a ff:SocialBenefit ;
    rdfs:label "{{ name }}"@de .

# CONSTRAINTS

ff:{{ name }}Shape a sh:NodeShape ;
    ff:checksFundingRequirement ff:{{ idlb }} ;